<h2>Images</h2>

<button data-bind="click: function() { addImage({ editing: 'name' }) }" type="button" class="btn btn-sm btn-success">
  Add new image&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>
</button>

<table data-bind="if: images().length > 0" class="table">
  <thead>
    <tr>
      <th colspan="2">Name</th>
    </tr>
  </thead>
  <tbody data-bind="foreach: images">
    <tr data-bind="click: function() { $root.setActiveImage(id) }, css: { active: active() }" style="cursor: pointer;">
      <td style="vertical-align: middle;">
        
        <span data-bind="visible: !isEditing(name)">
          <span data-bind="text: name, click: function() { editing(name) }"></span>
        </span>
        <span data-bind="visibleAndSelect: isEditing(name)">
          <input class="form-control" type="text" data-bind="value: name, event: { blur: function() { clearEdit(name) } }">
        </span>


      </td>
      <td style="text-align: right;">
        <button data-bind="click: function() { $root.removeImage(id) }" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </td>
    </tr>
  </tbody>
</table>