<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Output</h4>
  </div>
  <div class="panel-body">
    <p><a href="#outputDesc" data-toggle="collapse">What is this?</a></p>
    <div class="collapse" id="outputDesc">
      <div class="well well-sm">
        <p>todo</p>
      </div>  
    </div>

    <p><a href="#outputHow" data-toggle="collapse">How to use?</a></p>
    <div class="collapse" id="outputHow">
      <div class="well well-sm">
        <p>todo</p>
      </div>
    </div>

    <pre><code id="js-output" class="html" style="white-space: pre;"></code></pre>
  </div>
</div>