<!doctype html>
<html lang="">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <div class="ribbon">
      Alpha
    </div>
    <div class="loadingScreen" data-bind="visible: false"></div>
    <div class="container-fluid" style="display: none;" data-bind="visible: true">
      <div class="row">
        
        <div class="col-md-3">
          <% include partials/images.ejs %>
        </div>
        
        <div class="col-md-9" data-bind="visible: !$.isEmptyObject(activeImage()) && activeImage().showProperties()">
          <h2>Image properties</h2>

          <div class="row">
            <div class="col-md-12 col-lg-5">
              <div class="row">
                <div class="col-md-12">
                  <% include partials/media.ejs %>
                </div>

                <div class="col-md-12">
                  <% include partials/sizes.ejs %>
                </div>
                
                <div class="col-md-12">
                  <% include partials/output.ejs %>
                </div>
              </div>
              
            </div>
            
            <div class="col-md-12 col-lg-7">
              <% include partials/devices.ejs %>
            </div>
          </div>

        </div>

      </div>
    </div>

    <% include partials/foot.ejs %>
  </body>
</html>
